// Variables de colores (si aún no están definidas)
$background-color: #f5f5f5;
$form-background-color: #fff;
$primary-color: #333;
$secondary-color: #555;
$text-color: #666;
$input-border-color: #ddd;
$avatar-border-radius: 50%;

.resumen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: $background-color;
    font-family: Arial, sans-serif;
  
    h1 {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  
    p {
      font-size: 1.2rem;
      font-style: italic;
      margin-bottom: 2rem;
      color: $text-color;
    }
  
    // Estilos del contenedor base con tamaño fijo
    .base {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
      background-color: $form-background-color;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 64%; // Tamaño fijo
      height: 60vh; // Tamaño fijo
      left: 100px;

      .summary-container {
        display: flex;
        justify-content: space-between; /* Space between Notas and Observaciones */
        align-items: stretch;
        margin-top: 20px; /* Space above the summary */
        width: 96.5%;
        max-height: fit-content;
        overflow: auto;
      }
  
      .notas,
      .observaciones {
        background-color: #f9f9f9; /* Background color for the boxes */
        border: 1px solid #ddd; /* Border color   */
        border-radius: 8px; /* Rounded corners */
        padding: 10px 20px; /* Padding inside the box */
        width: 45%; /* Fixed width for the boxes */
        margin: 50px 10px;
        overflow: auto;
      }
  
      .notas-lista {
        list-style-type: none;
      }
  
      .notas-item {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-top: 2px solid #eee;
      }
  
      .notas-item-nota {
        text-align: right;
      }
  
      textarea {
        width: 100%; /* Full width of the text area */
        resize: none; /* Disable resizing */
      }
  
      .toggle-view-container {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        left: 5%;
        top: 0px;
        width: 20%;
      }
  
      .toggle-view-button-active {
        margin-top: 20px; /* Space above the button */
        padding: 10px 15px; /* Padding for the button */
        background-color: #007bff; /* Button color */
        color: white; /* Button text color */
        border: none; /* Remove border */
        border-radius: 5px; /* Rounded corners */
        cursor: pointer; /* Pointer cursor on hover */
      }
  
      .toggle-view-button-inactive {
        margin-top: 20px; /* Space above the button */
        padding: 10px 15px; /* Padding for the button */
        background-color: #f9f9f9; /* Button color */
        border: 1px solid #ddd; /* Border color */
        border-radius: 5px; /* Rounded corners */
        cursor: pointer; /* Pointer cursor on hover */
      }
  
      .toggle-view-button-inactive:hover {
        background-color: #eee; /* Darker color on hover */
      }
  
      .alternative-view {
        display: flex;
        justify-content: space-between; /* Space between the sections */
        margin-top: 20px; /* Space above the alternative view */
      }
  
      .estado,
      .tiempo,
      .bitacora {
        background-color: #f9f9f9; /* Background color for the boxes */
        border: 1px solid #ddd; /* Border color */
        border-radius: 8px; /* Rounded corners */
        padding: 15px; /* Padding inside the box */
        width: 30%; /* Fixed width for alternative view boxes */
        margin: 50px 10px;
      }
  
  
      h3,
      h4 {
        color: $primary-color;
        margin-bottom: 1rem;
      }
  
      
    }
  }
  